---
title: Longitudinal Wellness Initiative
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-student-affairs.html %}
		<script type="text/javascript">
			document.querySelector( "#longitudinal-wellness-initiative" ).classList.toggle("sidebar-active");
		</script>
		<div class="editable" id="side-content">
			<div>
                <p>
                    <img src="/images/lwi-images/longitudinal-wellness-initiative.png">
                </p>
            </div>
			<h1 id="page-title">Longitudinal Wellness Initiative - Meet the Team</h1>
			<p>We are very excited to introduce the CFMS Longitudinal Wellness Initiative! This exciting initiative strives to highlight supportive strategies and resources to promote different components of wellness. Additionally we will be sharing the stories of medical students across Canada and their wellness journeys. We hope to inspire and encourage connectedness, support, and discussion around wellness in medicine.</p>
			<p>We will be focusing on one aspect of wellness over a two month period throughout the year, beginning with Nutrition in March and April and moving to Mental wellness in May and June of 2019. After the summer break we will start the school year with Physical wellness in September and October, then move to Social/Relationships wellness in November to December. Stay tuned for our posts on the CFMS website, our social media and CFMS Communique featuring student Spotlights and wellness resources. Stay tuned for opportunities to get involved!</p>
			<ul>
				<li><a href="nutrition-wellness.html">Nutrition Wellness (March-April)</a></li>
				<li>Mental Wellness (May-June)</li>
				<li>Financial Wellness (July-August)</li>
				<li>Physical Wellness (Sept-Oct)</li>
				<li>Social/relationship wellness (Nov-Dec)</li>
			</ul>

			<p>We are pleased to introduce our team members:</p>
			<hr>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/helen-zhao.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Huaying (Helen) Zhao</span></li>
						<li class="exec-school"><span>University of Alberta, Class of 2021</span></li>
						<li class="url">
							<a href="mailto:huaying@ualberta.ca">huaying@ualberta.ca</a>
						</li>
						<li class="exec-desc"><span>During our medical education, students are often quickly consumed by coursework and other commitments. Ironically, as we focus on learning how to provide care to support the wellness of others, our own well-being is put on the back burner. This stress and anxiety manifests onwards to clerkship, residency, and our future careers, with an astounding amount of reports about physician burnout and depression and suicide. Hence, the promotion of wellness is important to start early in medical school; I am excited to be a part of an initiative that aims to promote long-term student self care and wellness.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/brandon-lam.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Jiunn-Yiing Brandon Lam</span></li>
						<li class="exec-school"><span>University of Ottawa, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:blam070@uottawa.ca">blam070@uottawa.ca</a>
						</li>
						<li class="exec-desc"><span>Wellness is an important subject that isn’t taught in medical school. Medical students often have to balance long hour workdays, studying, extracurricular activities, and many more other commitments which can be overwhelming. I think that practicing wellness equips med students with the tools that help prevent burnout and stress which is so prevalent in medicine. This wellness initiative that I am glad to be a part of will teach med students about the diverse options wellness can offer and how it can positively impact not only their career in medicine but in all aspects of their lives.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/kevin-karivelil.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kevin Karivelil</span></li>
						<li class="exec-school"><span>McMaster University, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:kevin.karivelil@medportal.ca ">kevin.karivelil@medportal.ca </a>
						</li>
						<li class="exec-desc"><span>I’ve never been more acutely aware of my ability to breathe perfectly through my nose than when I have a cold, and think of all the times I took normal breathing for granted. I think there’s a lesson here that can be applied to our overall wellness, too. Wellness sometimes feels like this nebulous concept we’re supposed to instantly master on top of everything else on our plates. That’s quite the expectation. Instead, I hope all of us can make daily strides to maintain our overall wellness by engaging in activities and relationships that make us happy. I’m thrilled to work with this team to promote just that.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/ryan-densmore.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Ryan Densmore</span></li>
						<li class="exec-school"><span>Dalhousie University, Class of 2021</span></li>
						<li class="url">
							<a href="mailto:ryan.densmore@dal.ca">ryan.densmore@dal.ca</a>
						</li>
						<li class="exec-desc"><span>We are studying to be the most qualified people to keep everyone else well, but who is teaching us how to keep ourselves well in the process? Medical education is tough, so it is important not to lose sight of what we love doing and what will keep us well throughout these exciting times. Hopefully we can take the time now, as students, to learn how to identify when our wellness may be slipping and to develop skills and techniques on how to manage these concerns in a healthy and productive way. I am excited for the opportunity to help contribute to the spreading of fun and practical tips and tricks that fellow students can use to positively impact their health and wellness and take those skills with them to their future lives in medical practice!</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/kelsie-ou.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Kelsie Ou</span></li>
						<li class="exec-school"><span>University of Ottawa, Class of 2021</span></li>
						<li class="url">
							<a href="mailto:kou013@uottawa.ca">kou013@uottawa.ca</a>
						</li>
						<li class="exec-desc"><span>As medical students, we are exposed to demanding workloads, long hours, and a longstanding pervasive culture that tells us “the more you sacrifice, the better a doctor you are”. It’s crucial that we work together to practice wellness, because at the end of day, we have to take care of ourselves in order to be in a good position to provide care for our patients! I’m grateful to be part of such an amazing, supportive, and inspiring team for the Longitudinal Wellness Initiative. Let’s support each in our journey towards better wellness!</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/simaran-kalkat.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Simaran Kalkat</span></li>
						<li class="exec-school"><span>University of British Columbia, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:simaran.kalkat@alumni.ubc.ca">simaran.kalkat@alumni.ubc.ca</a>
						</li>
						<li class="exec-desc"><span>I think wellness, in its entirety, is key for happiness and good health. To me, wellness is about healthy relationships with our loved ones, our communities, our food, our minds and our bodies. It can be difficult to achieve, especially with the stress that comes with medical school on top of our daily lives, and we all have moments when we aren’t taking care of ourselves to the best of our abilities. I joined the CFMS-LWI to help make personal wellness feel like a natural part of our everyday lives, rather than a chore. I’m excited to be a part of an initiative that promotes student wellbeing all year long!.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/jordana-waserman.jpg" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Jordana Waserman</span></li>
						<li class="exec-school"><span>Queen’s University</span></li>
						<li class="url">
							<a href="mailto:jordana.waserman@queensu.ca">jordana.waserman@queensu.ca</a>
						</li>
						<li class="exec-desc"><span>My interest in wellness advocacy originally stemmed from my own challenges with my mental health. During my undergraduate degree, I was fortunate enough to find groups of students who were very open to having frank discussions about mental health and advocating for the supports we needed. However, since entering medical school, I have been surprised to see that this culture has not yet penetrated the medical profession to the same extent. It seems that the same pervasive fallacy that “doctors don’t get sick” also applies to our idea of who experiences mental illness. This motivated me to join the Longitudinal Wellness Initiative Committee, and contribute to cultural and systemic change in regards to how we address wellness within medicine.</span></li>
					</ul>
				</div>
			</div>
			<div class="executive">
				<div class="exec-pic"><img src="/images/lwi-images/christine-audi.png" width="300"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Christine Audi</span></li>
						<li class="exec-school"><span>McGill University, Class of 2019</span></li>
						<li class="url">
							<a href="mailto:christine.audi@mail.mcgill.ca">christine.audi@mail.mcgill.ca</a>
						</li>
						<li class="exec-desc"><span>I became involved with the CFMS-LWI because my experience in medical school has solidified the importance of wellness throughout these difficult. It can be really easy to forget to take care of ourselves as we get busier and busier, which can negatively contribute to our mental health and stress. I am really excited to get involved in a group that actively and openly promotes mental health and wellness to our colleagues. </span></li>
					</ul>
				</div>
			</div>

			<div class="executive">
				<div class="exec-pic"></div>
				<div class="exec-info">
					<ul>
						<li class="exec-name"><span>Neraj Manhas</span></li>
						<li class="exec-school"><span>uOttawa, Class of 2020</span></li>
						<li class="url">
							<a href="mailto:nmanh095@uottawa.ca">nmanh095@uottawa.ca</a>
						</li>
						<li class="exec-desc"><span>I want to support my peers and colleagues so that we can be the best versions of ourselves and provide the best care for our patients. I'm excited to be a part of a team committed to promoting wellness within the medical school community and beyond.  Medical training can be even more challenging when wellness isn't prioritized.  Maintaining my mental health and physical health are components that I am trying to prioritize in my own self care and wellness strategies.</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
