---
title: "Nutrition Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#nutrition-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content" id="meeting-body">
        <h1 id="page-title">{{ page.title }}</h1>
        <h2><strong>Theme 1: Longitudinal Wellness Initiative <span>&#124;</span> <strong>March-April</strong> </strong></h2>
        <div class="editable">
                <div id="shortcut-links">
                    <div id="scroll">
                        <h4>Jump to:</h4>
                        <div class="bullets-wellness">
                            <ul>
                                <li>
                                    <a href="#cheap-and-simple-meals">Topic 1: Cheap and Simple Meals</a>
                                    <a href="#nutrition">Topic 2: Nutrition</a>
                                    <a href="#diet-and-diet-fads">Topic 3: Diet and Diet Fads</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <h2 id="cheap-and-simple-meals"><strong>Cheap and Simple Meals</strong></h2>
            <b>(Simaran Kalkat, Class of 2020; Christine Audi, Class of 2019)</b>
            <hr/>         
            <h3><strong>Suggestions for Delicious, Healthy, Cheap and/or Quick Meals</strong></h3>
            <ol>
            	<li>Create a grocery list - to ensure you only buy what you need. This helps cut time at the grocery store, costs, reduce impulse buys, and often results in you bringing home  more nutritious foods.</li>
            	<li>Meal prep - an hour on Sunday afternoon can result in delicious, healthy meals throughout the week and much time saved on cooking when you’ve got other things to do.</li>
            	<li>Don’t fret too much about recipes - these are often a guide. If you’re missing certain seasonings or ingredients, you can often substitute with other herbs, proteins, carbohydrates and vegetables and still get delicious results. No need to buy a dozen different herbs and spices just to make one new meal.</li>
            	<li>Stock your pantry with the staples:
        			<ol type="a">
        				<li>Your most commonly used herbs and spices</li>
        				<li>Whole grain sources that you can cook up easily. E.g. quinoa, brown rice, whole wheat pasta</li>
        				<li>Healthy vegetable oils for cooking, such as olive oil or avocado oil.</li>
						<li>Canned beans and lentils. Alternatively you can buy dry beans and lentils for cheaper, but these require cooking. Lentils cook up much faster than beans.</li>
						<li>Nuts and seeds + unsweetened dried fruit - for snacks and healthy fats and carbs</li>
						<li>colourful vegetables and fruits (frozen vegetables and fruits - are cheap and nutrient rich)</li>
					</ol></li>
				<li>Focus on adding the good stuff, rather than the eliminating the “bad stuff”. Start small: add vegetables, sub whole grains, use leaner proteins in recipes that you already enjoy. Sub healthier, wholesome options for less processed options. Include plant-based protein more often.</li>
				<li>Gradually reduce sugar and salt intake. If your salt or sugar intake is too high, gradually reduce addition of salt and sugar to meals – eventually, you will become more sensitive to lower amounts of salt and sugar. Use more herbs and spices to season your food, as they add a lot of flavour as well!</li>
			</ol>

            <h3><strong>Resources for Alternative Diets</strong></h3>
			<p><b>Minimalist Baker</b> - is a greater source for simple, easy to make, <b><i>plant-based</i></b> (or <b><i>vegan/vegetarian</i></b>) recipes. There are many options for various dietary restrictions and preferences, such as <b><i>gluten-free, nut-free, dairy-free, egg-free</i></b>, etc. All recipes are also quite simple and quick to make (requiring only a few ingredients and less than 30 minutes). <a href="https://minimalistbaker.com/">https://minimalistbaker.com/</a></p>
			<br><img src="/images/lwi-images/nutritional-wellness/minimalist-baker.png">

            <h3><strong>Resources for Simple Meals</strong></h3>
            <p><b>Foodies: Recipes by Ingredients</b> - great resource where you can input ingredients at home which generates a list of recipes that you could choose from. Great way to cook something fun and new without having to go grocery shopping if you don’t have time!</p>
            <br><img src="/images/lwi-images/nutritional-wellness/foodies.png">

            <h3><strong>Resources for Meal Planning</strong></h3>
            <p><b>Mealime</b> - great app available on computer and phone. Allows you to find recipes based on tastes/preferences/allergies, and you can even input how many meals you want prepared (to allow to have enough for a few days, weeks etc.) You can also triage the recipes based on calories, carbs etc.</p>
            <br><img src="/images/lwi-images/nutritional-wellness/mealime.png">

            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!--NUTRITION -->
            <h2 id="nutrition"><strong>Nutrition</strong></h2>
            <b>(Kelsie Ou, Class of 2021; Kevin Karivelil, Class of 2020; Simaran Kalkat, Class of 2020)</b>
            <hr/>
            <h3><strong>New <i>Canada’s Food Guide</i> (2019)</strong></h3>
            <p>Did you know that the Canada Food Guide was recently changed? Here are some of the most important new recommendations:</p>
            <br><img src="/images/lwi-images/nutritional-wellness/food-guide.jpg">
            <p>For more information, visit Canada’s Food Guide <a href="https://food-guide.canada.ca/en/">here</a>. They also have many <b>simple and delicious recipes</b> for every meal!</p>

            <h3><strong>Looking for more specific information regarding nutrition?</strong></h3>
            <p>Check out the <b><a href="https://www.dietitians.ca/">Dietitians of Canada!</a></b></p>
            <p>This colourful website provides <b>evidence-based information</b> on nutrition and the latest recommendations for macronutrient and micronutrient intake.</p>
            <br><img src="/images/lwi-images/nutritional-wellness/dietitians-of-canada.png">
            <p>For example, the website gives excellent advice on how to maintain sufficient nutrient levels for people on a <b>vegetarian or vegan diet</b>, namely for <b>vitamin B12, iron, and protein</b>.</p>

            <h3><strong>Grab a snack!</strong></h3>
            <p>Snacks don’t need to be unhealthy - in fact, they can be jam-packed with nutrients, fibre, and other goodies. <b>Take some time to browse this huge list of healthy snacks on <a href="http://www.unlockfood.ca/en/Recipes/Snacks.aspx">UnlockFood</a></b>. Your body and brain will thank you!</p>
            <br><img src="/images/lwi-images/nutritional-wellness/snacks.jpg">

            <h3><strong>What about smartphone apps related to nutrition?</strong></h3>
            <ol>
            	<li>
            		<img src="/images/lwi-images/nutritional-wellness/mynetdiary.png" class="paragraph-picture">
            		<b>MyFitnessPal: </b>A great, free tool that allows you to target specific goals, whether that be weight loss, muscle gain, or just overall health. It helps you track your calorie intake/output with a food diary & exercise tracker, and features nutritionist-approved recipes on the myfitnesspal website!
            		<br><img src="/images/lwi-images/nutritional-wellness/myfitnesspal-screenshots.png">
            	</li>
            	<li>
            		<img src="/images/lwi-images/nutritional-wellness/myfitnesspal.png" class="paragraph-picture">
            		<b>MyNetDiary: </b>another great food diary app, complete with pre-set nutrition plans, meal planning, and features that make progress easy to track.
            		<br><img src="/images/lwi-images/nutritional-wellness/mynetdiary-screenshots.png">
            	</li>
            </ol>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
