---
title: "Nutrition Wellness"
sitemap:
priority: 0.6
changefreq: monthly
role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->

<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>

<body ng-app="authApp" ng-controller="AuthController">
    {% include nav.html %}

    <!--Page Specific Formatting-->
    <script type="text/javascript">
        document.querySelector("#logo-invert").classList.toggle("hidden");
        document.querySelector("#what-we-do").classList.toggle("active");
    </script>

    <div class="content">
        <!-- Displays the sidebar and emphasizes the active page -->
        {% include sidebar-student-affairs.html %}
        <script type="text/javascript">
            document.querySelector("#nutrition-wellness").classList.toggle("sidebar-active");
        </script>

        <div id="side-content" id="meeting-body">
            <h1 id="page-title">{{ page.title }}</h1>
            <h2><strong>Nutrition Wellness 2019 </strong></h2>
            <div>
              <p>
                This page is currently being updated for the 2019 version.
                If you want to consult last year's version, please click here <a href="/nutrition-wellness.html">here</a>.
              </p>
            </div>
            <!-- <div class="editable">
                <div id="shortcut-links">
                    <div id="scroll">
                        <h4>Jump to:</h4>
                        <div class="bullets-wellness">
                            <ul>
                                <li><a href="#cheap-and-simple-meals">Topic 1: Cheap and Simple Meals</a></li>
                                <li><a href="#nutrition">Topic 2: Nutrition</a></li>
                                <li><a href="#diet-and-diet-fads">Topic 3: Diet and Diet Fads</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h2 id="cheap-and-simple-meals"><strong>Cheap and Simple Meals</strong></h2>
                <b>(Simaran Kalkat, Class of 2020; Christine Audi, Class of 2019)</b>
                <hr />
                <h3><strong>Suggestions for Delicious, Healthy, Cheap and/or Quick Meals</strong></h3>
                <ol>
                    <li>Create a grocery list - to ensure you only buy what you need. This helps cut time at the grocery store, costs, reduce impulse buys, and often results in you bringing home more nutritious foods.</li>
                    <li>Meal prep - an hour on Sunday afternoon can result in delicious, healthy meals throughout the week and much time saved on cooking when you’ve got other things to do.</li>
                    <li>Don’t fret too much about recipes - these are often a guide. If you’re missing certain seasonings or ingredients, you can often substitute with other herbs, proteins, carbohydrates and vegetables and still get delicious
                        results. No need to buy a dozen different herbs and spices just to make one new meal.</li>
                    <li>Stock your pantry with the staples:
                        <ul>
                            <li>Your most commonly used herbs and spices</li>
                            <li>Whole grain sources that you can cook up easily. E.g. quinoa, brown rice, whole wheat pasta</li>
                            <li>Healthy vegetable oils for cooking, such as olive oil or avocado oil.</li>
                            <li>Canned beans and lentils. Alternatively you can buy dry beans and lentils for cheaper, but these require cooking. Lentils cook up much faster than beans.</li>
                            <li>Nuts and seeds + unsweetened dried fruit - for snacks and healthy fats and carbs</li>
                            <li>colourful vegetables and fruits (frozen vegetables and fruits - are cheap and nutrient rich)</li>
                        </ul>
                    </li>
                    <li>Focus on adding the good stuff, rather than the eliminating the “bad stuff”. Start small: add vegetables, sub whole grains, use leaner proteins in recipes that you already enjoy. Sub healthier, wholesome options for less
                        processed options. Include plant-based protein more often.</li>
                    <li>Gradually reduce sugar and salt intake. If your salt or sugar intake is too high, gradually reduce addition of salt and sugar to meals – eventually, you will become more sensitive to lower amounts of salt and sugar. Use more
                        herbs and spices to season your food, as they add a lot of flavour as well!</li>
                </ol>

                <h3><strong>Resources for Alternative Diets</strong></h3>
                <p><b>Minimalist Baker</b> - is a greater source for simple, easy to make, <b><i>plant-based</i></b> (or <b><i>vegan/vegetarian</i></b>) recipes. There are many options for various dietary restrictions and preferences, such as <b><i>gluten-free,
                            nut-free, dairy-free, egg-free</i></b>, etc. All recipes are also quite simple and quick to make (requiring only a few ingredients and less than 30 minutes). <a href="https://minimalistbaker.com/">https://minimalistbaker.com/</a>
                    <br><img src="/images/lwi-images/nutritional-wellness/minimalist-baker.png"></p>

                <h3><strong>Resources for Simple Meals</strong></h3>
                <p><b>Foodies: Recipes by Ingredients</b> - great resource where you can input ingredients at home which generates a list of recipes that you could choose from. Great way to cook something fun and new without having to go grocery
                    shopping if you don’t have time!
                    <br><img src="/images/lwi-images/nutritional-wellness/foodies.png"></p>

                <h3><strong>Resources for Meal Planning</strong></h3>
                <p><b>Mealime</b> - great app available on computer and phone. Allows you to find recipes based on tastes/preferences/allergies, and you can even input how many meals you want prepared (to allow to have enough for a few days, weeks
                    etc.) You can also triage the recipes based on calories, carbs etc.
                    <br><img src="/images/lwi-images/nutritional-wellness/mealime.png"></p>

                <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--NUTRITION -->
                <h2 id="nutrition"><strong>Nutrition</strong></h2>
                <b>(Kelsie Ou, Class of 2021; Kevin Karivelil, Class of 2020; Simaran Kalkat, Class of 2020)</b>
                <hr />
                <h3><strong>New <i>Canada’s Food Guide</i> (2019)</strong></h3>
                <p>Did you know that the Canada Food Guide was recently changed? Here are some of the most important new recommendations:
                    <br><img src="/images/lwi-images/nutritional-wellness/food-guide.jpg"></p>
                <p>For more information, visit Canada’s Food Guide <a href="https://food-guide.canada.ca/en/">here</a>. They also have many <b>simple and delicious recipes</b> for every meal!</p>

                <h3><strong>Looking for more specific information regarding nutrition?</strong></h3>
                <p>Check out the <b><a href="https://www.dietitians.ca/">Dietitians of Canada!</a></b></p>
                <p>This colourful website provides <b>evidence-based information</b> on nutrition and the latest recommendations for macronutrient and micronutrient intake.
                    <br><img src="/images/lwi-images/nutritional-wellness/dietitians-of-canada.png"></p>
                <p>For example, the website gives excellent advice on how to maintain sufficient nutrient levels for people on a <b>vegetarian or vegan diet</b>, namely for <b>vitamin B12, iron, and protein</b>.</p>

                <h3><strong>Grab a snack!</strong></h3>
                <p>Snacks don’t need to be unhealthy - in fact, they can be jam-packed with nutrients, fibre, and other goodies. <b>Take some time to browse this huge list of healthy snacks on <a href="http://www.unlockfood.ca/en/Recipes/Snacks.aspx">UnlockFood</a></b>.
                    Your body and brain will thank you!
                    <br><img src="/images/lwi-images/nutritional-wellness/snacks.JPG"></p>

                <h3><strong>What about smartphone apps related to nutrition?</strong></h3>
                <ol>
                    <li>
                        <img src="/images/lwi-images/nutritional-wellness/myfitnesspal.png" class="paragraph-picture" style="
                        width: 100px;
                        height: auto;
                    ">
                        <b>MyFitnessPal: </b>A great, free tool that allows you to target specific goals, whether that be weight loss, muscle gain, or just overall health. It helps you track your calorie intake/output with a food diary & exercise
                        tracker, and features nutritionist-approved recipes on the myfitnesspal website!
                        <br><img src="/images/lwi-images/nutritional-wellness/myfitnesspal-screenshots.png">
                    </li>
                    <li>
                        <img src="/images/lwi-images/nutritional-wellness/mynetdiary.png" class="paragraph-picture" style="
                        width: 100px;
                        height: auto;
                    ">
                        <b>MyNetDiary: </b>another great food diary app, complete with pre-set nutrition plans, meal planning, and features that make progress easy to track.
                        <br><img src="/images/lwi-images/nutritional-wellness/mynetdiary-screenshots.png">
                    </li>
                </ol>

                <h2 id="diet-and-diet-fads"><strong>Diet</strong></h2>
                <b>(Simaran Kalkat, Class of 2020; Jordana Waserman, Class of 2021)</b>
                <hr />
                <p><b><i>Diet</i></b> - the kinds of foods that a person, animal or community habitually eat. The original, more simple definition.<br>
                    <b><i>Diet</i></b> – a special course of food to which one restricts oneself, either to lose weight or for medical reasons. The more common thought when we hear the word.</p>

                <h3><strong>How do we categorize diets?</strong></h3>
                <p><b>Inclusion/Exclusion of Animal Products</b>
                    <ul>
                        <li>Omnivore (includes all types of meat, fish, egg and dairy products)</li>
                        <li>Pescatarian (includes fish, egg and dairy products, other meats excluded)</li>
                        <li>Pollo-pescatarian (includes fish, poultry, eggs and dairy products, other meats excluded)</li>
                        <li>Ovo-lacto Vegetarian (includes eggs and dairy produced; meats excluded)</li>
                        <li>Lacto-vegetarian (includes dairy products; meats and eggs excluded)</li>
                        <li>Ovo-vegetarian (includes eggs; meats and dairy products excluded)</li>
                        <li>Vegan (meats, eggs and dairy products excluded)</li>
                        <li class="sub-menu">Raw veganism (only eat fresh and uncooked (i.e. not heated above 118F) fruits, vegetables, nuts and seeds)</li>
                    </ul>
                </p>
                <p><b>Diets that eliminate animal products may replace these products with:</b>
                    <br><img src="/images/lwi-images/nutritional-wellness/substitutes.JPG"></p>
                <p>Check out the Topic 2 - Nutrition Link for information on how to ensure you're meeting all your nutrition requirements with any of the above diets!</p>

                <h3><strong>Ethnicity (endless as you can imagine)</strong></h3>
                <h3><strong>Diets for Medical Conditions</strong></h3>
                <p>
                    <ul>
                        <li>Gluten free – for Celiac disease</li>
                        <li>Renal diet – for renal failure</li>
                        <li>DASH diet – for hypertension and heart health</li>
                        <li>Diabetic diet – for diabetes; “eating regular meals that are nutrient dense and low in fat and calories” – mayoclinic </li>
                        <li>Lactose free – for lactose intolerance; excludes dairy or lactose containing dairy products </li>
                        <li>There are also a number of diets that have been proposed for other medical conditions including cancer, pain, high cholesterol, ADHD, and more. </li>
                    </ul>
                </p>
                <h3><strong>Diet Fads</strong></h3>
                <p>
                    <ul>
                        <li class="sub-menu">Including other “Health-promoting” and “Body Goals Diets” that are still controversial in terms of effectiveness due to compliance, sustainability, and lack of sufficient long-term data)</li>
                        <li class="sub-menu">Also includes weight loss diets– often with calorie restrictions</li>
                        <li class="sub-menu">Also includes Body Building – often with calorie surplus (i.e. consume more calories than you’d burn off in a day/workout)</li>
                        <li>Low calorie diet</li>
                        <li>Low/no carb diet</li>
                        <li>High carb, low fat</li>
                        <li>Gluten free +/- no carbs</li>
                        <li>Sugar free diet</li>
                        <li class="sub-menu">South beach (multi-step diet system that starts with eliminating almost all high sugar and refined starches containing foods including grains, fruits and alcohol, and slowly adding back less refined
                            versions of carbohydrate containing foods as a weight loss method)</li>
                        <li>Keto diet (high fat, low carb)</li>
                        <li>High protein diet (often for weight loss with restricted calorie intake or building muscle bulk with calorie surplus)</li>
                        <li>Macrobiotic diet (often for building muscle bulk)</li>
                        <li>SO MANY MORE….</li>
                    </ul>
                </p>
                <h3><strong>Which diets are better and healthier?</strong></h3>
                <p>There are pros and cons to every diet, and these can be different for everyone. A healthy diet for me can be different from a healthy diet for you. Regardless, every diet should meet the following the criteria:
                    <ol>
                        <li>Provide all nescessary nutrition
                            <ul>
                                <li>Macronutrients - proteins, fats and carbohydrates</li>
                                <li>Calories – for sustainability</li>
                                <li>Micronutrients – for optimal cell function</li>
                            </ul>
                        </li>
                        <li>Make you feel good
                            <ul>
                                <li>Fosters a healthy relationship with food – i.e. not associated with feelings of guilt or deprivation</li>
                                <li>Provide energy – get you through the day functioning at your best if all other aspects of your life are optimized</li>
                                <li>Coincide with your morals and values </li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <h3><strong>What about diet fads?</strong></h3>
                <p>There is so much information out there about different diets for living a longer life, for weight loss, for muscle gain, etc. However, there really isn’t enough information on their long term benefits, and often times these diets
                    are not sustainable or suitable for long term practice.</p>
                <p>There’s an entire issue of <b><i>Science Magazine</i></b> dedicated to <b><i>Diet and Health</i></b> (<a href="http://science.sciencemag.org/content/362/6416">http://science.sciencemag.org/content/362/6416</a>) that explores
                    various questions around the topic.
                    There are articles and systematic reviews looking at optimizing diets for athletes, dietary fat and carbohydrates, fasting, gut health, and more. Check it out for some geeky information on which diets are “better”. Bottom line
                    for me anyways, was that each diet has its pros and cons, and we’ve got to find what works for us in terms of optimizing nutrition and fostering a healthy relationship with food. </p>
                <h3><strong>Vegetarian Resources</strong></h3>
                <p>
                    <ol>
                        <li><a href="https://vegetariannutrition.net/">Vegetarian Nutrition Dietetics Group of the Academy of Nutrition and Dietetics</a>
                            <br><img src="/images/lwi-images/nutritional-wellness/vegetarian-nutrition.png">
                            <ul>
                                <li>Concise handouts with reputable information by the Academy of Nutrition and Dietetics, pertaining to plant-based diets, such as B12, iron, and protein in the context of vegetarian diets</li>
                                <li>Collection of vegetarian recipes</li>
                            </ul>
                        </li>
                        <li><a href="http://www.unlockfood.ca/en/Articles/Vegetarian-and-Vegan-Diets/">UnlockFood by Dieticians of Canada</a>
                            <br><img src="/images/lwi-images/nutritional-wellness/unlockfood.png">
                            <ul>
                                <li>Articles by Dieticians of Canada about vegetarianism and veganism, including information about beans, tofu, legumes, chickpeas, nuts and seeds in the context of plant-based diets</li>
                            </ul>
                        </li>
                        <li><a href="http://vegweb.com/">VegWeb</a>
                            <br><img src="/images/lwi-images/nutritional-wellness/vegweb.png">
                            <ul>
                                <li>Collection of 15 000 great vegetarian recipes!!</li>
                            </ul>
                        </li>
                        <li><a href="http://veg.ca/resource-centre/toronto-vegetarian-podcast/">Veg Out (Toronto vegetarian podcast)</a>
                            <br><img src="/images/lwi-images/nutritional-wellness/veg-out.png">
                            <ul>
                                <li>Collection of 15 000 great vegetarian recipes!!</li>
                            </ul>
                        </li>
                        <li><a href="https://www.vegetariantimes.com/">Vegetarian Times</a>
                            <br><img src="/images/lwi-images/nutritional-wellness/vegetarian-times.png">
                            <ul>
                                <li>Online vegetarian magazine featuring large collection of recipes and lifestyle content</li>
                            </ul>
                        </li>
                    </ol>
                </p>
            </div> -->
        </div>
    </div>
    {% include footer.html %}
</body>
