---
title: "Mental Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#mental-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content" id="meeting-body">
        <h1 id="page-title">Restaurants and Activities @ Canadian Medical Schools</h1>
        <p>We have something new with this edition, members of the LWI team have put together lists of some great restaurants and attractions at different medical schools for you to check-out when you are on electives! There’s more then just impressive for a letter as you do a cross-country tour!</p>
            <div id="shortcut-links">
                <div id="scroll">
                    <h4><b>Jump to:</b></h4>
                    <div class="bullets-wellness">
                        <ul>
                            <li>
                                <a href="#mun">Memorial University (Michelle Moody)</a>
                            </li>
                            <li>
                                <a href="#dalhousie-1">Dalhousie University (Ryan Densmore)</a>
                            </li>
                            <li>
                                <a href="#dalhousie-2">Dalhousie University (Sophia Miao)</a>
                            </li>
                            <li>
                                <a href="#mun">McGill University (Christine Audi)</a>
                            </li>
                            <li>
                                <a href="#mun">University of Ottawa (Brandon Lam)</a>
                            </li>
                            <li>
                                <a href="#mun">Queen's University (Brandon Lam)</a>
                            </li>
                            <li>
                                <a href="#mun">University of British Columbia</a>
                            </li>
                            <li>
                                <a href="#mun">University of Sherbrooke - Moncton Site (Alex Robin) </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- MEMORIAL UNIVERSITY, Michelle Moody -->
            <h2 id="mun"><strong>St. John’s / Memorial (Michelle Moody, Class of 2019)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/mun.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Yellow Belly Brewery</b>
                <br>
                A local restaurant located in downtown St. John’s, minutes away from the harbour and the famous George Street. It’s a great spot to get dinner or to grab drinks with friends, and also has the best nachos in town!
                <br><br>
                2. <b>The Peaceful Loft</b>
                <br>
                An Asian fusion vegetarian and vegan restaurant in St. John’s that is located downtown on Duckworth Street, across from Moksha Yoga. If you want the friendliest service in the city with delicious vegan and vegetarian food, there’s no better place! Try going for lunch after getting your sweat on in hot yoga!
                <br><br>
                3. <b>Mallard Cottage</b>
                <br>
                Possibly the most quintessential Newfie restaurant that St. John’s has to offer. Located in the picturesque Quidi Vidi, it offers a beautiful location, unbeatable food, and a rustic Newfie atmosphere. Definitely a great place for Sunday brunch with loved ones.
                <br><br>
                4. <b>Adelaide Oyster House</b>
                <br>
                Best fish tacos in St. John’s, hands down -- enough said! Not to mention a cool atmosphere, awesome cocktails, and great service. 
                <br><br>
                5. <b>The Merchant Tavern</b>
                <br>
                A wonderful local restaurant that is very accommodating of dietary restrictions. It’s on the fancier side, so it’s great for a treat or celebratory dinner with friends, family or a partner!
            </p>
            <h3>ACTIVITIES</h3>
            <p>
                1. <b>Hiking the East Coast Trail</b>
                <br>
                There’s nothing more relaxing than hiking with a friend along the rugged coast of Newfoundland, combining quality time with exercise. Make sure you bring your dog and a camera!
                <br><br>
                2. <b>Bonfire at Middle Cove Beach</b>
                <br>
                Arguably the best summer activity with friends. Bring food, drinks, blankets, and a friend who knows how to start a fire, and you’re in for a great night!
                <br><br>
                3. <b>Snowshoeing in Three Pond Barren</b>
                <br>
                Getting lost in the winding snowy trails of Three Pond Barren with your dog and friend in tow is the perfect way to enjoy a wintery afternoon. Watch out for the moose!
            </p>

            <!-- Dalhousie, Ryan Densmore -->
            <h2 id="dalhousie-1"><strong>Halifax / Dalhousie (Ryan Densmore, Class of 2021)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/dalhousie.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>The Bicycle Thief</b>
                <br>
                Hopping restaurant with classic decor & outdoor seats offering cocktails & a creative Italian menu.
                <br><br>
                2. <b>The Wooden Monkey</b>
                <br>
                With 1 location in Dartmouth and the other in Halifax, this restaurant has gained popularity on both sides of the harbour for its farm-to-table quality food that is locally sourced and as organic as possible.
                <br><br>
                3. <b>EnVie</b>
                <br>
                Located in the North End, this bright, contemporary cafe serves exclusively Vegan dishes made with locally sourced ingredients.
                <br><br>
                4. <b>Cha Baa Thai</b>
                <br>
                With 4 locations in the HRM (2 Halifax, 1 Dartmouth, 1 Bedford), this is one of the most beloved Thai restaurants in and around Halifax. 
                <br><br>
                5. <b>Wasabi House</b>
                <br>
                Love sushi? Love free food? This modest sushi restaurant serves Japanese classics, from sushi & teriyaki to tempura and noodles, and they always add a few extra rolls to your order free of charge!
                <br><br>
                6. <b>The Coastal Cafe</b>
                <br>
                This tiny cafe is a hot spot for brunch lovers. It is a Busy, counter-service nook with upmarket, creative breakfast & brunch bites, plus espresso & lattes located in the North End.
                <br><br>
                7. <b>The Board Room Game Cafe</b>
                <br>
                Hundreds of games line the walls of this cafe on Barrington Street. They also serve delicious meals, snacks, beer, and coffee. A great place to unwind, unless you let your competitive side show!
            </p>
            <h3>FREE ACTIVITIES</h3>
            <p>
                1. <b>The waterfront</b>
                <br>
                Walking along the waterfront is wonderful any time of the year! There is a great view of Dartmouth.
                <br><br>
                2. <b>Walk across to Dartmouth</b>
                <br>
                You can walk/bike across the MacDonald bridge from Halifax to Dartmouth (or take a very cheap ferry ride) and check out everything downtown Dartmouth has to offer!
                <br><br>
                3. <b>Check out the North End</b>
                <br>
                This is a bustling, quickly developing part of Halifax with an abundance of cute cafes, breweries, restaurants, and fun shops! Just a short walk/bus ride from the downtown core. 
                <br><br>
                4. <b>Point Pleasant Park</b>
                <br>
                At the tip of the Halifax Peninsula, you’ll find this large, mainly forested 75-hectare wooded park crisscrossed with 39 km of easy winding trails and wide paths, many wheelchair-accessible and many off-leash areas for your dogs.
                <br><br>
                5. <b>Public Gardens</b>
                <br>
                The Halifax Public Gardens is the oldest Victorian Garden in North America. Officially opened in 1867, the Public Gardens has retained the original Victorian character thanks to a series of talented superintendents, chief horticulturists, and gardeners. It is located right off of Spring Garden Road, a few minute walk from the main hospitals in the South End. 
                <br><br>
                6. <b>Skating on the Emira Oval (Winter)</b>
                Completely free to rent skates and a helmet, you can go for a nice skate on an olympic sized skating oval! Make sure to check their website first for free-skate times. <a href="https://www.halifax.ca/recreation/facilities-fields/emera-oval">https://www.halifax.ca/recreation/facilities-fields/emera-oval</a>
                <br><br>
                7. <b>Discovery Centre (Wednesday nights 5:00-8:00pm)</b>
                <br>
                The Discovery Centre has three floors of displays that discuss a broad range of topics—marine life, human biology, climate, you name it! The bottom floor is home to an Innovation Lab and a featured exhibit that changes on a regular basis (right now, it’s Lego) that are definitely worth checking out. Admission for adults is usually $12, but luckily, it’s free every Wednesday night from 5:00-8:00pm!
                <br><br>
                8. <b>Hiking</b>
                <br>
                The rugged coast and expansive forests make Nova Scotia an amazing destination for hiking. There are a ton of hikes in and around the Halifax area. Here’s a great place to start! https://www.halifax.ca/recreation/parks-trails-gardens/trails
            </p>

            <!-- DALHOUSIE UNIVERSITY, Sophia Miao -->
            <h2 id="dalhousie-2"><strong>Saint John, NB / Dalhousie (Sophia Miao - MD 2021)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/dalhousie-2.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Thandi’s</b>
                <br>
                Asian fusion restaurant offering plenty of options from Indian curries to seafood. Vegetarian/vegan options available, and gluten-free friendly. Check out their lunch menu for cheaper alternatives!
                <br><br>
                2. <b>Zesty Lemon</b>
                <br>
                This is a brand new bistro in Millidgeville, close to campus. Cheap breakfast items, as well as soups, salads, and sandwiches are offered here.
                <br><br>
                3. <b>Marjorie’s/Port City Royal</b>
                <br>
                Called Marjorie’s Cafe by day, and Port City Royal by night, this is a unique place with a vintage vibe. Marjorie’s is a great place for a coffee date, and Port City Royal has a seasonal menu.
                <br><br>
                4. <b>Urban Deli</b>
                <br>
                Loved by everyone at DMNB, Urban Deli is a go-to destination for lunch. They have great deli options, and are also great for vegetarians and vegans.
                <br><br>
                5. <b>Ta-Ke Sushi</b>
                <br>
                If you’re looking for cheap sushi, Ta-Ke is the place to go! With $9.99 lunch deals, this is a popular place for students.
            </p>
            <h3>FREE ACTIVITIES</h3>
            <p>
                1. <b>Rockwood Park</b>
                <br>
                Whether you’re looking to hike, fish, swim, skate, bike, or paddle, Rockwood is a lovely park to go year-round with friends. Plus, it’s just down the street from campus!
                <br><br>
                2. <b>Irving Nature Park</b>
                <br>
                This is a beautiful park for hiking and having a picnic, offering great views of the Saint John and its surrounding area. They also have beaches and marshes, and park staff members can give free guided tours.
                <br><br>
                3. <b>Reversing Falls Rapids</b>
                <br>
                Just a walk away from Uptown SJ, this is a unique phenomenon formed by the Bay of Fundy and the Saint John River. Go during low tide to see rapids and whirlpools, and go at high tide to see the Bay’s tides “reverse” the river rapids.
                <br><br>
                4. <b>City Market in King’s Square</b>
                <br>
                The City Market is open 6 days a week, and has everything from fresh produce to fine crafts.
                <br><br>
                5. <b>Saint John Arts Centre</b>
                <br>
                The SJAC is located Uptown and always has plenty of free events, gallery exhibitions, and music performances.
            </p>


            <!-- MCGILL, Christine Audi -->
            <h2 id="mcgill"><strong>Montreal / McGill (Christine Audi - MD 2019)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/mcgill.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Kantapia </b>
                <br>
                Amazing Korean restaurant with tons of cheap meals in the Concordia area of the city. No reservations so you have to line up but worth it! 
                <br><br>
                2. <b>Kazu</b>
                <br>
                Great little Japanese restaurant. Pretty small so you often sit at the bar but it makes for a great atmosphere. Plenty of little dishes in the menu and written on the wall so just order up and share! Again, you have to lineup but if you go early enough and in little groups, you’ll be fine!
                <br><br>
                3. <b>Majestique </b>
                <br>
                Lovely restaurant which has an oyster bar. Amazing seafood and food options. Has a changing menu. Good drink options. Great location on St Laurent and has an outdoor terrace for the summer season. Lovely for a cute night out or a date. 
                <br><br>
                4. <b>Lola Rosa (Vegetarian) </b>
                <br>
                Small and quaint vegetarian restaurant right by campus with cheap meals. Very popular place for students. Amazing nachos. Has the best dessert brownies. Tables have little drawers where you can leave cute notes for future people to read.
                <br><br>
                5. <b>Fisshu</b>
                <br>
                All you can eat sushi place with BYOB (for wine to go along with the delicious sushi). Plenty of sushi and sashimi options. And it’s downtown and super close to campus.
            </p>
            <h3>FREE ACTIVITIES</h3>
            <p>
                1. <b>Atwater market </b>
                <br>
                Cute market by the Lachine Canal creating a beautiful atmosphere. Lovely to walk around in in summer. Has flower markets, cheese samples, great little food carts if you want food. 
                <br><br>
                2. <b>Mount Royal Park </b>
                <br>
                Beautiful park in the center of Montreal. Short walk up to get a beautiful view of Montreal. In summer, there are often shows, and music being played at the top. Also a great park for people who enjoy to run in nature!
                <br><br>
                3. <b>Jean Talon Market </b>
                <br>
                Similar to Atwater market but in a different area of town. Very fun to explore all the stalls and walk around in! Lots of food and produce and an attractive venue for local produce. 
                <br><br>
                4. <b>Nuit blanche</b>
                <br>
                Just happens one night in February but it’s amazing event. Free metro till 5am. Plenty of free concerts all over the city. Street art, cooking classes, dance classes etc. The city just livens up with all kinds of lights. There are also free rides in the city ex. Ferris wheel, slides. Definitely worth checking out. 
                5. <b>Old port</b>
                <br>
                Great area of town to just walk around in and enjoy the surrounds. Very european (and slightly touristy) but the little cobblestone streets never get old. 
            </p>


            <!-- UNIVERSITY OF OTTAWA, Brandon Lam -->
            <h2 id="ottawa"><strong>Ottawa / U of O (Brandon Lam - Class of 2020)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/dalhousie.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>The Green Door Restaurant (Vegetarian)</b>
                <br>
                Self-serve “buffet style” with a great variety of vegetarian food selection. The cost is based on the final weight/how much food you get. 
                <br><br>
                2. <b>Pure Kitchen (Vegetarian)</b>
                <br>
                Vegetarian restaurant and juice bar. 
                <br><br>
                3. <b>Mad Radish (Vegetarian)</b>
                <br>
                “Fast Food” vegetarian option. Great for those who are in a hurry! 
                <br><br>
                4. <b>Joeys</b>
                <br>
                Upscale restaurant with a great selection and variety of different kinds of cuisines. Atmosphere is also really nice. Great place to enjoy food with friends, family, and loved ones!
                <br><br>
                5. <b>Craft Beer Market</b>
                <br>
                The largest selection of beer, wine, and any kind of alcohol you can think of with delicious food options as well. 
                <br><br>
                6. <b>Belmont</b>
                <br>
                Small, cute, dimly lit restaurant that mainly serves delicious Tapas. Their Charcuterie board is amazing! Nice place for taking dates to. 
                <br><br>
                7. <b>Sansotei Ramen</b>
                <br>
                Great place for delicious Japanese Ramen. The restaurant is pretty small so there are always long line ups. Expect a 30+ minute wait if you go during lunch and dinner hours! 
                8. <b>El Camino</b>
                <br>
                Mexican style cuisine with the best tacos in the city (especially the fish and ox tongue tacos). The price per tacos are definitely expensive but they are so worth it! 
                <br><br>
                9. <b>Riviera</b>
                <br>
                If you’re looking to splurge then this is the restaurant for you. The portions are small and very expensive but the amazing atmosphere and service makes up for it! If you’re celebrating any special occasions, this is the place to do it! 
                <br><br>
                10. <b>EVOO</b>
                <br>
                Greek style restaurant that serves brunch and dinner. I personally think you will get the best bang for your buck for brunch, large delicious portions that will leave you stuffed for under $20!
            </p>

            <!-- Queen’s, Brandon Lam -->
            <h2 id="queens"><strong>Kingston / Queen’s (Brandon Lam - Class of 2020)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/queens.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Wooden Heads</b>
                <br>
                One of the best restaurants in Kingston that serves a wide variety of pizzas with a large selection of great tasting wine! 
                <br><br>
                2. <b>Grecos Grill & Wine Bar</b>
                <br>
                Another fancy restaurant to try out with your friends, family, and loved ones! The service and atmosphere are amazing. Be sure to try out their steak that melts in your mouth! 
                <br><br>
                3. <b>Harper’s</b>
                <br>
                If you’re looking for a great variety of delicious hamburgers to try out, then this is the place for you! They have many selectin of hamburgers and you could even build your own. Be sure to try their milk shake as well!
                <br><br>
                4. <b>Chez Piggy</b>
                <br>
                A very fancy and upscale restaurant for all your fine dining needs! Each of their menu items are diverse and you’ll be enjoying your food in a cozy limestone building. 
                <br><br>
                5. <b>Ali Baba</b>
                <br>
                For less than $20, their Kingston famous “Ali Baba Combo” will get you a large chicken shawarma, potatoes with garlic, and a soft drink. This meal will be sure to fill you up!
                <br><br>
                6. <b>Copper Penny</b>
                <br>
                A very chill vibe restaurant that serves hamburgers, steak, and other great food options for a great price.
                <br><br>
                7. <b>Jack Astors</b>
                <br>
                The rooftop patio is amazing during the summer. Great place to hang out with your friends and classmates while overlooking the beautiful city of Kingston! The nachos and bow tie pastas are delicious! 
                8. <b>Mr. Donair</b>
                <br>
                Their Donair, chicken shawarma, and poutines taste delicious, especially after a night out with your friends. This place is very small so be prepared to stand while eating or just grab it to go. Be sure to tell the chef to leave the wrap a little longer on the grill to make it more crispy! 
            </p>

            <!-- UBC -->
            <h2 id="ubc"><strong>Vancouver / UBC</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/ubc.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Nuba</b>
                <br>
                Amazing Lebanese food for options for all types of dietary restrictions. They have the best hummus and you really can’t leave without trying their fried cauliflower. They have options for individual plates as well as large sharing menus for larger groups to sample most of their menu.
                <br><br>
                2. <b>Virtuous Pie</b>
                <br>
                This place is vegan, and serves up some of the best pizza you will ever have - even if you love your meat. I had to put it on the list - just cause it’s Vancouver.
                <br><br>
                3. <b>Umaluma Ice Cream</b>
                <br>
                Best icecream ever!! It’s plant-based ice cream, and I’ve seen it convert many. You gotta try it out at least once.
                <br><br>
                4. <b>Earnest Icecream</b>
                <br>
                Another popular ice cream shop - with rotating flavours and plant-based options.
                <br><br>
                5. <b>Aphrodite’s</b>
                <br>
                A popular brunch place that’s super cozy, serves amazing wholesome food including sandwiches, burgers, eggs benny, soups and salads. They have delicious vegan/vegetarian fare as well as gluten free options to make everyone happy. It’s an upscale and healthier take on homey food that’s still very affordable. Most importantly though - they have pie!! All sorts of sweet fruit pies and cream pies - as well as options for gluten free and vegan pies! 
                <br><br>
                6. <b>Storm Crow Tavern</b>
                <br>
                Amazing comfort/pub style food! Burgers, nachos, poutine, mac-n-cheese, etc. Always busy and a great place for an evening hangout for some feel good food and fun times. They also have various vegan/vegetarian options, as well as gluten free options to keep their restaurant open to all!
                <br><br>
                7. <b>Sushi</b>
                <br>
                I’m just going to lump all sushi restaurants into one category here since sushi restaurants in Vancouver are just as common as coffee shops - which is basically every street corner. Some say sushi in Vancouver is second to only sushi in Japan. Pretty much any sushi restaurant is amazing, but some of our favourites include: Sushi California, Shizenya Japanese Restaurant, Tamaki Sushi. There are so many more - just google sushi while you’re here and you’ll find something delicious!
                8. <b>Mr. Donair</b>
                <br>
                Their Donair, chicken shawarma, and poutines taste delicious, especially after a night out with your friends. This place is very small so be prepared to stand while eating or just grab it to go. Be sure to tell the chef to leave the wrap a little longer on the grill to make it more crispy! 
            </p>

            <!-- Moncton, Alex Robin -->
            <h2 id="moncton"><strong>Moncton / Sherbrooke (Alex Robin - MD2021)</strong></h2>
            <hr />
            <p><img src="/images/lwi-images/restaurants-activities-wellness/moncton.png"></p>
            <h3>RESTAURANTS</h3>
            <p>
                1.<b>Tide & Boar Gastropub</b>
                <br>
                Rustic-modern atmosphere with comfort pub food done with fresh, local ingredients. Combined with a vast drink selection (sangria and local beer galore) and patio seating on Main Street, it’s a must hit. 
                <br><br>
                2. <b>Tony’s Bistro & Patisserie</b>
                <br>
                A city favorite, Tony’s offers tasty café-style sandwiches, croissants, salads and burgers all-made from scratch. What they’re really famous for though is their pastries and cakes; don’t miss out!
                <br><br>
                3. <b>Pump House Brewery</b>
                <br>
                Local blueberry ale, wood-fired pizza and crafty radlers? If you enjoy the simple things in life, check this place out for a relaxed experience and solid eats.  
                <br><br>
                4. <b>Taj Mahal - Flavor Of India</b>
                <br>
                One of Moncton’s few Indian cuisine spots, visit Taj at lunchtime for high value specials that are always fully satisfying. Their pakora is highly recommended. 
                <br><br>
                5. <b>Big League Burgers & Wings</b>
                <br>
                Must go to spot for that perfect greasy burger and fries you need for self-love after a rough exam season. Service is quick and the big game is always on one of the big screens!
                <br><br>
                6. <b>Calactus </b>
                <br>
                A vegetarian selection of international cuisine that always delivers as fresh and a healthy choice. Pair it all with an unique atmosphere, you won’t be disappointed. 
            </p>
            <h3>ACTIVITIES</h3>
            <p>
                1. <b>A Trip to Fundy </b>
                <br>
                In under an hour by car, Fundy’s reclaimed National Park and world-renowned Hopewell Rocks can be reached. Hours of sightseeing, hiking and swimming are waiting to be enjoyed, followed by a quick stop at Kelly’s Bakery in Alma for their famous sticky buns. 
                <br><br>
                2. <b>Local Trails </b>
                <br>
                Take a short or long walk (hopefully with a furry friend) in one of Greater Moncton’s many trail friendly parks. The Dobson Trail, Centennial, Irishtown or Mill Creek Park are all a great start to exploring some hidden scenery that the city can offer.
                <br><br>
                3. <b>Shediac Beaches </b>
                <br>
                Do you enjoy long walks on the beach? Unbeatable swimming, seafood and sand awaits you nearby the core of Moncton. With all it has it has to offer, Shediac makes for a relaxing vacation day full of frisbee with man’s best friend, beer by a fire or sailing on the great Atlantic Ocean.
                <br><br>
                4. <b>Downtown Moncton</b>
                <br>
                Enjoy a free festival (Mosaiq, Pride, Canada Day, Acadie Rock, etc), see a game, admire our graffiti wall murals, or grab a beer in Moncton’s classic downtown setting. Setted on the Petitcodiac Riverfront, this area has something for everyone while being enriched with rooted culture and, more importantly, easily-accessible parking. 
            </p>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
