---
title: "Social/Relationship Wellness"
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Student Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>

<!-- Google Tag Manager -->

    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
    <link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
    document.querySelector( "#logo-invert" ).classList.toggle("hidden");
    document.querySelector( "#what-we-do" ).classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-student-affairs.html %}
    <script type="text/javascript">
        document.querySelector( "#social-relationship-wellness" ).classList.toggle("sidebar-active");
    </script>
    
    <div id="side-content" id="meeting-body">
        <h1 id="page-title">{{ page.title }}</h1>
        <div class="editable">
            <div id="shortcut-links">
                <div id="scroll">
                    <h4>Jump to:</h4>
                    <div class="bullets-wellness">
                        <ul>
                            <li>
                                <a href="#apps-and-podcasts">Physical Health Apps and Podcasts</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#apps">Apps</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#podcasts">Podcasts</a>
                            </li>
                            <!--
                            <li class="sub-menu">
                                <a href="#youtube">YouTube</a>
                            </li>
                            <li>
                                <a href="#medical-school-initatives">Medical School Physical Health Initiatives</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#mcgill">McGill University</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#memorial">Memorial University</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#ottawa">University of Ottawa</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#manitoba">University of Manitoba</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#ubc">University of British Columbia</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#dalhousie">Dalhousie University</a>
                            </li>
                            -->
                            <li>
                                <a href="#tips">Medical Student Wellness Gems</a>
                            </li>
                            <li class="sub-menu">
                                <a href="#simaran-kalkat">Simaran Kalkat, Class of 2020</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        -->

        <h2 id="apps-and-podcasts"><strong> Apps and Podcasts</strong></h2>
        <hr />
        <h3 id="podcasts"><strong>Podcasts </strong></h3>
        <p>
            <strong>1. Love is Like a Plant</strong> - Michelle Moody, MUN Class of 2019<br>
            <br>
            <img src="/images/lwi-images/social-relationship-wellness/week-1/plants.png">
        </p>

        <p>
            <strong>2. Love and Radio</strong> - Christine Audi, McGill Class of 2019<br>
            Mostly non-fiction stories often presented in personal interviews either focusing on a single story or related to a theme. You hear “interviews with an eclectic range of subjects, from the seedy to the sublime. Get inside the mind of a rogue taxidermist. Find out what it’s like to experience a stroke firsthand. Or spend time with an artist who gives away her life savings every night”. Very interesting!
            <br>
            <img src="/images/lwi-images/social-relationship-wellness/week-1/lr.png">
        </p>

        <p>
            <strong>3. Heavyweight</strong> - Christine Audi, McGill Class of 2019<br>
            The host helps friends confront an event (often with friends in the past) in their past that they are still dwelling on. This is done in a comedic manner. 
            <br>
            <img src="/images/lwi-images/social-relationship-wellness/week-1/heavyweight.png">
        </p>

        <h3 id="apps"><strong>Apps </strong></h3>
        <p>
            <strong>1. Marco Polo</strong> - Sophia Miao, Dalhousie Class of 2021<br>
            Marco Polo is a unique app that allows you to send video messages to your friends, either as one-to-one conversations or group messages. Watch and respond in real time, or whenever it’s convenient. It also has a hands-free feature. Unlike Snapchat, these videos don’t disappear, so you can watch them over and over again. This app uses Wi-Fi or data, so it’s great for chatting with friends and family all around the world.
        </p>

	    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	    <!--MEDICAL STUDENT WELLNESS GEMS INITIATIVES SECTION -->
	    <h2 id="gems"><strong>Medical Student Wellness Gems:</strong></h2>
	    <hr/>

	    <!-- SIMARAN KALKAT -->
	    <h3 id="simaran-kalkat"><strong>Alcohol and Medical School: A Perspective on Social Wellness</strong> - Simaran Kalkat, UBC Class of 2020</h3>
        <p>What does having fun look like to you? We work hard in medical school. With that said, it’s always important to make time for friends and family, as well as celebrate all of our achievements - from finishing an exam to completing another year. But what does your ideal night look like? There are endless ways to celebrate and gather with friends, but how do we create an event where everyone can unwind and enjoy? Most often, we celebrate with a night out, maybe some music, and more often than not, a few drinks to tie it all together.</p>
        <p>It’s quite common for celebrations to be centered around alcohol, but why not switch it up once in a while?</p>
        <p>There are many of us who choose not to drink, and while we’re often just happy to see all of our lovely peers, sometimes it’s just not as much fun being the only person without a drink in their hand. Serving fun alcohol-free beverages could be a simple solution for some, but why not try something new once in a while, like a fun alcohol-free event. I’ve listed some ideas below, but by no means is this an exhausted list.</p>
        <p>It’s quite common in our general society to have alcohol at social gatherings, but there are many reasons why some may choose not to drink, and sometimes these reasons prevent them from being able to attend or enjoy events where drinking is part of the fun.  You don’t need to make assumptions or ask someone why they don’t drink – there are many reasons for this and many non-drinkers may be okay with sharing why. However, for those who do have sensitive or more personal reasons for not drinking, it can make these situations uncomfortable – and thus another reason for not wanting to attend these social engagements.</p>
        <p>In addition to concerns around inclusion of those who don’t drink, for those who do drink – it’s important to make sure that the amount consumed is a healthy amount. We’re all in medical school, and so we probably know all about the recommended maximums for alcohol consumption for both men and women (listed below), and let’s not forget that those recommendations also apply to us. I know most people are perfectly able to drink in moderation. However, it’s not always easy to recognize when someone is struggling with substance use, especially when that substance is so commonly consumed. So, if you or someone you know is struggling or even on the edge of what’s accepted as an ‘okay amount’, take a step back and explore when and why that alcohol is being consumed.</p>
        <p>Maybe you know someone who always has a few to many drinks, or maybe drinks alone most nights, or drinks when they’re sad or angry. Maybe they’re missing classes or hung over too many mornings to count. They don’t have to fit the exact definition for a substance use disorder for us to be worried. Medical school, a career in medicine, and just life in general can be overwhelming and stressful. There are so many things that could push us over the edge, but it’s important to have healthy coping mechanisms and outlets whenever we need them. Get help when you need it – from friends, family, counsellors, medical professionals, student affairs, etc. When it comes to celebrating, we should all be able to gather together in settings that we enjoy, but let’s make sure these events are healthy celebrations and not a place to hide for those who are having a hard time.</p>

        <blockquote>
        <p><strong>How to host an Alcohol-free Event</strong></p>
        <p><i>This list doesn’t necessarily exclude serving alcohol, but they’re great activities that help place the focus of the event onto something else</i></p>
        <ul>
        	<li>
        		Events with Group activities/games:
        	</li>
        	<ul>
        		<li>Paint-nights</li>
        		<li>Carnivals</li>
        		<li>Movie nights</li>
        		<li>Board game nights</li>
        		<li>Trivia nights (a huge hit at UBC)</li>
        		<li>Talent/art shows where students perform</li>
        		<li>Video games</li>
        		<li>Ping point night (also a big deal here on the West coast)</li>
        	</ul>
        	<li>
        		For more outdoorsy or active events:
        	</li>
        	<ul>
        		<li>Hiking</li>
        		<li>Cycling</li>
        		<li>Any recreational sport</li>
    		</ul>
    		<li>
        		For foodies:
        	</li>
        	<ul>
        		<li>Try out new restaurants</li>
        		<li>Host a potluck</li>
        		<li>Tea time</li>
        		<li>Cooking lessons or a cooking/baking night</li>
        		<li>Honestly, just good food at any of the above!</li>
        	</ul>
        </ul>
        </blockquote>

    <strong><u>Mocktails and Alcohol-Free Beverages</u></strong></br>
   	<br>
    <ol>
    <li>
	    <strong><i>Sparkling Sangaria</i></strong></br>
		<i>Makes about 12 cups</i></br>
		<ul>
			<li>4 cups passion fruit juice</li>
			<li>8 cups sparkling water or ginger ale</li>
			<li>1 fresh kiwi, sliced</li>
			<li>1 orange, sliced</li>
			<li>1 star fruit, sliced</li>
			<li>1 lime, sliced</li>
			<li>1/2 cup fresh cranberries</li>
		</ul>
		<p>Simply mix all ingredients together and store in fridge until ready to serve!</p>
	</li>
	<br>
	<li>
	    <strong><i>Non-alcoholic White Grape Spritzer</i></strong></br>
		<i>Makes about 8 cups</i></br>
		<ul>
			<li>1/2 cup green grapes, frozen</li>
			<li>1/2 cup red grapes, frozen</li>
			<li>1 orange, thinly sliced</li>
			<li>1 orange, sliced</li>
			<li>1 lemon, thinly sliced</li>
			<li>4 cups bottle ginger ale, chilled</li>
			<li>4 cups white grape juice</li>
		</ul>
		<p>Simply mix all ingredients together and store in fridge until ready to serve!</p>
	</li>
	<br>
	<li>
	    <strong><i>Sparkling Summer Limeade</i></strong></br>
		<i>Makes about 9-10 cups</i></br>
		<ul>
			<li>1 cup blackberries or blueberries</li>
			<li>1 cup kiwi fruit, peeled and diced</li>
			<li>1 cup fresh diced pineapple</li>
			<li>1 cup fresh diced mango</li>
			<li>1 cup strawberries, hulled and sliced</li>
			<li>3/4 cup limeade concentrate, thawed</li>
			<li>1 liter (4 cups) lemon-lime soda or ginger ale, chilled</li>
		</ul>
		<p>Mix all ingredients together and let sit in fridge for about 1-2 hours. Keep refrigerated until ready to serve.</p>
	</li>
	<br>
	<li>
	    <strong><i>Non-boozy Mint Mojito</i></strong></br>
		<i>Serves 8</i></br>
		<ul>
			<li>2L club soda</li>
			<li>2 tsp sugar or agave (or to taste)</li>
			<li>1 small bunch of mint</li>
			<li>2 fresh limes, sliced lengthwise</li>
			<li>Ice</li>
		</ul>
		<p>Mix all ingredients together, making sure to squeeze in the limes before adding. Store in fridge until ready to serve!</p>
	</li>
    </div>
</div>
{% include footer.html %}
</body>