---
title: Our Team
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Education
---

<!DOCTYPE html>

<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %} <!--Page Specific Stylesheet-->
    <link href="/stylesheets/what-we-do.css" rel="stylesheet" />
</head>

<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}
<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-education.html %}
    <script type="text/javascript">
			document.querySelector("#our-team").classList.toggle("sidebar-active");
    </script>
    <div class="editable" id="side-content">
        <h1 id="page-title">Our Team</h1>
        <p>The CFMS Education Committee serves the educational needs of Canada&rsquo;s medical students alongside the CFMS Director of Education.</p>
        <p>If you have concerns, ideas, or projects you&rsquo;d like to share please contact both the Director of Education and the pertinent File Lead.</p>
        <h1><strong>Director of Education</strong></h1>
        <hr />
        <div class="executive" id="vp-government-affairs">
            <div class="exec-pic"><img height="1334" width="890" src="/uploads/0d4cee33-d025-4327-b947-5b2c3ee6e183.JPG" /></div>
            <div class="exec-info">
                <ul>
                    <li class="exec-name">Maylynn Ding</li>
                    <li class="exec-school"><span>Michael G. DeGroote School of Medicine - McMaster University</span></li>
                    <li class="exec-desc">
                        <p><span>Maylynn is responsible for directing the representation, analysis and policy of the CFMS on educational issues. She represents the Federation at such forums where concerns of a primarily educational nature are discussed (listed below). Maylynn also undertakes initiatives to enhance the educational experience of members of the Federation.</span></p>
                    </li>
                    <li class="exec-desc">
                        <p><span></span> <span></span></p>
                        <p><span>If you have concerns or ideas you would like raised at the below listed organizations, please don&rsquo;t hesitate to contact the Director of Education: <a href="https://www.afmc.ca/">Association of Faculties of Medicine of Canada</a> , <a href="http://www.royalcollege.ca/">Royal College of Physicians &amp; Surgeons of Canada</a> ,<a href="http://fmrac.ca/">Federation of Medical Regulatory Colleges of Canada</a> , and <a href="http://www.carms.ca/">Canadian Residency Matching Service</a> . In addition, the Director of Education oversees ex officio members who represent the CFMS to many external organizations as listed below.</span></p>
                    </li>
                    <li class="url"><a href="mailto:education@cfms.org">education@cfms.org</a></li>
                </ul>
            </div>
        </div>
        <h1><strong>Education Committee</strong></h1>
        <hr />
        <h3><strong>Education Attach&eacute;</strong></h3>
        <ul>
            <li><a href="mailto:ontario@cfms.org">Rishi Sharma</a></li>
        </ul>
        <p>Rishi Sharma is one of the Ontario Regional Directors and attach&eacute; to the Education portfolio. As attach&eacute;, he provides support to all aspects of the Education Portfolio and steps in to fulfill the role of Director of Education when Maylynn is unable to.&nbsp;</p>
        <h3><strong>National Officer of Education</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:noe@cfms.org">Nathan Rider</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The National Officer of Education (NOE) acts as the manager of the Education Committee and the Vice-President Academic Roundtable. The NOE also liaises with education-related projects undertaken by the CFMS general membership.</p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-right">
                <p class="portfolio-desc"><strong style="color: rgb(119, 122, 137); font-family: &quot;Proxima Nova&quot;, Helvetica, Arial, sans-serif; font-size: 24px; widows: 3;">National Officer of Research Sr.</strong></p>
                <ul>
                    <li class="portfolio-desc">
                        <p><a href="mailto:raechelle.gibson@medportal.ca">Raechelle Gibson</a></p>
                    </li>
                </ul>
                <p>The National Officer of Research Sr. (NOR) oversees all aspects of the Research Committee and is responsible for leading the research initiatives of the CFMS. The NOR Sr. oversees survey design, REB approvals, data analysis, and building the research aspect of the CFMS.</p>
                <p class="portfolio-desc"><strong style="color: rgb(119, 122, 137); font-family: &quot;Proxima Nova&quot;, Helvetica, Arial, sans-serif; font-size: 24px; widows: 3;">National Officer of Research Jr.</strong></p>
                <ul>
                    <li class="portfolio-desc"><a href="mailto:lia.huo@mail.utoronto.ca">Lia Huo</a></li>
                </ul>
                <p class="portfolio-desc">The National Officer of Research Jr. (NOR) assists the NOR Sr. with all aspects of the Research Committee. The NOR Jr. fills in for the NOR Sr. when he/she is not available. The NOR Jr. assists with survey design, REB approvals, data analysis, and building the research aspect of the CFMS.</p>
                <p class="portfolio-desc"><strong style="color: rgb(119, 122, 137); font-family: &quot;Proxima Nova&quot;, Helvetica, Arial, sans-serif; font-size: 24px; widows: 3;">Health Human Resources</strong></p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:ben.chen@alumni.ubc.ca">Ben Chen</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Health Human Resources (HHR) file works on improving the quality and transparency of HHR data available to medical students in the career planning process.</p>
            </div>
        </div>
        <h3><strong>Matchbook</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <li class="member-name"><a href="mailto:zakir@myumanitoba.ca">Rafael Zaki</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Matchbook file oversees the creation and organization of the annual CFMS Matchbook to help support students entering the CaRMS match process.</p>
            </div>
        </div>
        <h3><strong>Competency-Based Medical Education</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="javascript:void(location.href='mailto:'+String.fromCharCode(115,105,108,118,105,111,110,100,111,106,97,64,103,109,97,105,108,46,99,111,109))">Silvio Ndoja</a></li>
                        <li class="member-name"><a href="mailto:vpatel@qmed.ca">Vivesh Patel</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Competency-Based Medical Education (CBME) file is working on a literature review and policy analysis of CBME as it pertains to undergraduate medical education.</p>
            </div>
        </div>
        <h3><strong>Accreditation</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <li class="member-name"><a href="mailto:mincs2@gmail.com">Cynthia Min</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Accreditation file is working on a scholarly analysis of Accreditation as it pertains to undergraduate medical education.</p>
            </div>
        </div>
        <h3><strong>Policy Liaison</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <li class="member-name"><a href="mailto:spasricha@qmed.ca">Sachin Pasricha</a></li>
                        <li class="member-name"><a href="mailto:naomi.reaka@medportal.ca">Naomi Reaka</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Policy Liaison file communicates closely with the CFMS Director of Government Affairs, Committee on Health Policy, and National Officer of Health Policy.</p>
            </div>
        </div>
        <h3><strong>Interprofessional Education</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <li class="member-name"><a href="mailto:nikola.unic@medportal.ca">Nikola Unic</a></li>
                        <li class="member-name"><a href="mailto:shirleyxx.deng@mail.utoronto.ca">Shirley Deng</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Interprofessional (IPE) file assists with CFMS interprofessional initiatives such as the student led clinic guide and the new national alliance of health professional student societies.</p>
            </div>
        </div>
        <h3><strong>Unmatched Canadian Medical Graduates (uCMG)</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:ading@qmed.ca">Avrilynn Ding</a></li>
                        <li class="member-name"><a href="mailto:avaleriano@qmed.ca">Ailish Valeriano</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Unmatched Canadian Medical Graduates (uCMG) file works on aspects of CFMS activities that relate to unmatched students, and to create policy and CFMS initiatives that support students going through The Match.&nbsp;</p>
            </div>
        </div>
        <h3><strong>Research Committee</strong></h3>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:jma6@ualberta.ca">Jenny Ma</a></li>
                        <li class="member-name"><a href="mailto:emard030@uottawa.ca">Emily Mardian</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">The Research Committee is a part of the CFMS Research Team along with the National Officers of Research. This file supports research initiatives of various CFMS activities within the Education Portfolio and beyond. The role of the Research Committee includes but is not limited to: helping with survey design, REB approvals, data analysis, and building the research aspect of the CFMS.</p>
            </div>
        </div>
        <h1><strong>Ex Officio</strong></h1>
        <hr />
        <p>Many CFMS members sit as ex officio members of the Education Committee. The role of the ex officio members is to update their organizations on Education Committee activities. If you have concerns, ideas or projects you&rsquo;d like to share please contact both the Director of Education and the pertinent ex officio member</p>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="javascript:void(location.href='mailto:'+String.fromCharCode(121,105,112,101,110,103,46,103,101,64,117,111,116,116,97,119,97,46,99,97))">Yipeng Ge</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">Medical Council of Canada (MCC) Representative</p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:apiet051@uottawa.ca">Adam Pietrobon</a></li>
                        <li class="member-name"><a href="mailto:christian.farrell@alumni.ubc.ca">Christian Farrell</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">Committee on Accreditation of Canadian Medical Schools (CACMS) representative</p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:milani.sivapragasam@mail.mcgill.ca">Milani Sivapragasam</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">Canadian Association of Medical Educators (CAME) representative</p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                        <li class="member-name"><a href="mailto:bgunka@nosm.ca">Barbara Gunka</a></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-col-right">
                <p class="portfolio-desc">Association Faculties of Medicine of Canada (AFMC) Portal Representative</p>
            </div>
        </div>
        <div class="members">
            <div class="portfolio-col-left">
                <div class="member-info">
                    <ul>
                        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61uqcdb5dnu70tb4ddpp8wkme1jq4xkdchj6gw37erwq0rveetnpmxtk6nk32xbbcnu7cd1p6nukcrb3c9n3cwkm6xkqax3a6tt7ew37ewtq2thge9r6ux32cnjq8wkg6tt7cw1pcxv36rbqddm3ccbqe0u7ecbg6tm7actpehh74dhne8v62rv26xjkau3h6huk6rb3chn3eck4eht66u3n6wr74xkacmwq4dhpf0rppdthd8v7exkbd1hpwu1p6hhppctpdtukec3jc8tpau3e69uq4uthcnj6mutpcdkjurk1edjk6cg-base32-->
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- End Edcomm -->
</div>
{% include footer.html %}
</body>
