f---
title: Who We Are
sitemap:
  priority: 0.9
  changefreq: monthly
  role: VP Communications
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/who-we-are.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	<!--<div id="execs-group-pic" style="width:100%; background: url(/images/execs/2016-2017/group-pic.jpg) no-repeat center 0; background-size:cover">-->
	<!--</div>-->

	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#who-we-are" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-who-we-are.html %}
		<script type="text/javascript">
			document.querySelector( "#executives-officers" ).classList.toggle("sidebar-active");
		</script>

		<div id="executives-officers-content">
			<h1 id="page-title" class="editable">CFMS Board</h1>

			<!-- CFMS Executives -->
			<div id="executives">
				<div id="president" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/stephanie-smith.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">President</span>
						</li>
						<li class="exec-name">
							<span class="editable">Stephanie Smith<br /></span>
						</li>
						<li class="exec-school">
							<span class="editable">Cumming School of Medicine - University of Calgary</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Stephanie is responsible for the general supervision and direction of the business of the CFMS. Overall goal-setting and vision fall under the President’s responsibilities. Stephanie also serves as the spokesperson for the organization to the public, the media, the government, and national medical organizations.</span>
						</li>
						<li class="url"><a href="mailto:president@cfms.org">president@cfms.org</a></li>
					</div>
				</div>
				<div id="president-elect" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/victor-do.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">President-Elect</span>
						</li>
						<li class="exec-name">
							<span class="editable">Victor Do</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Alberta</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Victor also serves as President-Elect from April to September until his installation as President at AGM.  In this role, he will work alongside the CFMS President to understand the responsibilities of President, to develop his strategic vision for the organization, and to begin to connect with our partners and stakeholders.</span>
						</li>
						<li class="url"><a href="mailto:pastpresident@cfms.org">pastpresident@cfms.org</a></li>
					</div>
				</div>
				<div id="past-president" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/henry-annan.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Past-President</span>
						</li>
						<li class="exec-name">
							<span class="editable">Dr. Henry Annan</span>
						</li>
						<li class="exec-school">
							<span class="editable">Dalhousie University</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Henry advises the President and the Board in addition to serving as Chief Returning Officer and Parliamentarian.</span>
						</li>
						<li class="url"><a href="mailto:pastpresident@cfms.org">pastpresident@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-communications" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/victoria-januszkiewicz.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Communications</span>
						</li>
						<li class="exec-name">
							<span class="editable">Victoria Januszkiewicz</span>
						</li>
						<li class="exec-school">
							<span class="editable">Memorial University of Newfoundland</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Victoria guides the internal and external communication of the CFMS. She manages the public profile of the CFMS, including website, Facebook, Twitter, Instagram and LinkedIn profiles, and engaging with news media. Victoria promotes the activities of the CFMS, as well as the successes and advocacy efforts of medical students across Canada. She is responsible for maintaining regular contact with medical school representatives, engaging individual members of the CFMS, and communication with external organizations when this responsibility falls outside of the duties of the President. Victoria is the contact person for any news media requests.&nbsp;</span>
						</li>
						<li class="url"><a href="mailto:communications@cfms.org">communications@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-education" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/maylynn-ding.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Director Education</span>
						</li>
						<li class="exec-name">
							<span class="editable">Maylynn Ding<br /></span>
						</li>
						<li class="exec-school">
							<span class="editable">McMaster University<br /></span>
						</li>
						<li class="exec-desc">
							<span class="editable">Maylynn is responsible for directing the representation, analysis and policy of the CFMS on educational issues. She represents the Federation at such forums where concerns of a primarily educational nature are discussed. Maylynn also undertakes initiatives to enhance the educational experience of members of the Federation</span>
						</li>
						<li class="url"><a href="mailto:education@cfms.org">education@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-finance" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/odell-tan.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Vice-President Finance<br /></span>
						</li>
						<li class="exec-name">
							<span class="editable">Odell Tan</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Saskatchewan<br /></span>
						</li>
						<li class="exec-desc">
							<span class="editable">
Odell guides the overall fiscal management of the CFMS, and acts as the Chief Financial Officer. He is responsible for managing the CFMS bank accounts, investments, expenses, revenue, and payroll. He is also actively involved in broadening the financial resource base of the CFMS by seeking alternative sources of revenue through grants, advertising, donations and sponsorship.</span>
						</li>
						<li class="url"><a href="mailto:finance@cfms.org">finance@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-government-affairs" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/yipeng-ge.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Director Government Affairs</span>
						</li>
						<li class="exec-name">
							<span class="editable">Yipeng Ge</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Ottawa</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Yipeng addresses the organization's commitment to representation through political advocacy initiatives at a local and national level. He serves as the chair of the Government Affairs &amp; Advocacy Committee (GAAC), organizes the CFMS Federal Lobby Day, coordinates position papers, and represents the CFMS on all issues of a political nature.</span>
						</li>
						<li class="url"><a href="mailto:govtaffairs@cfms.org">govtaffairs@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-student-affairs" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/victor-do.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Director Student Affairs&nbsp; and President-elect</span>
						</li>
						<li class="exec-name">
							<span class="editable">Victor Do</span>
						</li>
						<li class="exec-school">
							<span class="editable">University of Alberta</span>
						</li>
						<li class="exec-desc">
							<span class="editable">Victor is responsible for overseeing the CFMS Student Wellness portfolio, the CFMS Leadership Awards and for coordinating the CFMS member benefits and services. This position requires collaboration with the National Wellness Officer, Wellness Representatives, and various external partners to promote wellness and resilience. Victor advocates for and supports members through the development of resources, including the launch of the Longitudinal Wellness Strategy and the STRIVE Resiliency course to promote wellness of medical students across the country.
								<br>
							Victor also serves as President-Elect from April to September until his installation as President at AGM.  In this role, he will work alongside the CFMS President to understand the responsibilities of President, to develop his strategic vision for the organization, and to begin to connect with our partners and stakeholders.</span>
						</li>
						<li class="url"><a href="mailto:studentaffairs@cfms.org">studentaffairs@cfms.org</a></li>
					</div>
				</div>
				<div id="vp-global-health" class="executive">
					<div class="exec-pic">
						<img class="editable" src="/images/execs/2018-2019/michelle-quaye.png" height="500"/>
					</div>
					<div class="exec-info">
						<li class="exec-role">
							<span class="editable">Director Global Health</span>
						</li>
						<li class="exec-name">
							<span class="editable">Michelle Quaye</span>
						</li>
						<li class="exec-school">
							<span class="editable">Schulich School of Medicine - Western University<br /></span>
						</li>
						<li class="exec-desc">
							<span class="editable">Michelle is responsible for coordinating the CFMS Global Health Program. She forms and maintains dynamic partnerships with Canadian and international organizations, to support the interests of medical students studying in Canada with respect to global health, international development, and public health.</span>
						</li>
						<li class="url"><a href="mailto:globalhealth@cfms.org">globalhealth@cfms.org</a></li>
					</div>
				</div>

				<!-- Regional Representatives -->
				<h1 id="regional-reps-title" class="editable">
					Regional Directors
				</h1>
				<div id="regional-reps-desc"><span class="editable">Regional Directors are fully functioning and voting members of the Board and have the specialized role of ensuring that the Board is kept abreast of up-to-the-moment developments at all of the member schools. Regional Directors serve as liaisons between the Board and the medical society representatives and presidents. They work closely with all VPs and other Directors under the direction of the President to ensure communication between the Board and medical societies. They are also expected to take on national projects and responsibilities on behalf of the Board.</span></div>
				<div id="regional-reps">
					<div id="western-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/fatemeh-bakhtiari.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Western Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Fatemeh Bakhtiari</span>
							</li>
							<li class="exec-school">
								<span class="editable">University of Manitoba</span>
							</li>
							<li class="url"><a href="mailto:western@cfms.org">western@cfms.org</a></li>
						</div>
					</div>
					<div id="western-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/wendy-wang.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Western Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Wendy Yao<br /></span>
							</li>
							<li class="exec-school">
								<span class="editable">Cumming School of Medicine - University of Calgary<br /></span>
							</li>
							<li class="url"><a href="mailto:western@cfms.org">western@cfms.org</a></li>
						</div>
					</div>
					<div id="ontario-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/debbie-brace.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Ontario Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Debbie Brace</span>
							</li>
							<li class="exec-school">
								<span class="editable">McMaster University</span>
							</li>
							<li class="url"><a href="mailto:ontario@cfms.org">ontario@cfms.org</a></li>
						</div>
					</div>
					<div id="ontario-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/rishi-sharma.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Ontario Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Rishi Sharma&nbsp;</span>
							</li>
							<li class="exec-school">
								<span class="editable">McMaster University</span>
							</li>
							<li class="url"><a href="mailto:ontario@cfms.org">ontario@cfms.org</a></li>
						</div>
					</div>
					<div id="quebec-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/adel-arezki.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Quebec Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Adel Arezki</span>
							</li>
							<li class="exec-school">
								<span class="editable">McGill University</span>
							</li>
							<li class="url"><a href="mailto:quebec@cfms.org">quebec@cfms.org</a></li>
						</div>
					</div>
					<div id="atlantic-regional-rep" class="executive">
						<div class="exec-pic">
							<img class="editable" src="/images/execs/2018-2019/dax-bourcler.png" height="500"/>
						</div>
						<div class="exec-info">
							<li class="exec-role">
								<span class="editable">Atlantic Regional Director</span>
							</li>
							<li class="exec-name">
								<span class="editable">Dax Bourcier</span>
							</li>
							<li class="exec-school">
								<span class="editable">Le Centre de Formation Medicale du Nouveau- Brunswick&nbsp;<br /></span>
							</li>
							<li class="url"><a href="mailto:atlantic@cfms.org">atlantic@cfms.org</a></li>
						</div>
					</div>
				</div>
			</div>

			<!-- CFMS National Officers -->
			<h1 id="page-title" class="editable">National Officers</h1>
			<div id="officers">
				<div id="cfms-national-officers" class="column">
					<h1 class="editable">CFMS</h1>
					<div class="officer-info">
						<li class="officer-role editable">Alumni</li>
						<li class="officer-name editable">Dr. Jesse Kancir</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="url"><a href="mailto:alumni@cfms.org">alumni@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Blood</li>
						<li class="officer-name editable">Simran Parmar</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="url"><a href="mailto:blood@cfms.org">blood@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Health Policy</li>
						<li class="officer-name editable">David Wiercigroch</li>
						<li class="officer-school editable">University of Toronto</li>
						<li class="url"><a href="mailto:nohp@cfms.org">nohp@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Information Technology (Sr)</li>
						<li class="officer-name editable">Adel Arezki</li>
						<li class="officer-school editable">McGill University</li>
						<li class="url"><a href="mailto:it@cfms.org">it@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Information Technology (Jr)</li>
						<li class="officer-name editable">Jack Luo</li>
						<li class="officer-school editable">McGill University</li>
						<li class="officer-name editable">Jason Yao</li>
						<li class="officer-school editable">University of Ottawa</li>
						<li class="url"><a href="mailto:it@cfms.org">it@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Research (Sr)</li>
						<li class="officer-name editable">Raechelle Gibson</li>
						<li class="officer-school editable">McMaster University</li>
						<li class="url"><a href="mailto:it@cfms.org">nor@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Research (Jr)</li>
						<li class="officer-name editable">Lia Huo</li>
						<li class="officer-school editable">University of Toronto</li>
						<li class="url"><a href="mailto:it@cfms.org">nor@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Wellness</li>
						<li class="officer-name editable">Misha Virdee</li>
						<li class="officer-school editable">McMaster<br /></li>
						<li class="url"><a href="mailto:wellness@cfms.org">wellness@cfms.org</a></li>
					</div>
				</div>
				<div id="global-health-national-officers" class="column">
					<h1 class="editable">Global Health</h1>
					<div class="officer-info">
						<li class="officer-role editable">Partnerships (NOP)</li>
						<li class="officer-name editable">Emily Fong</li>
						<li class="officer-school editable">University of Alberta</li>
						<li class="url"><a href="mailto:nop@cfms.org">nop@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Exchanges (NOE)</li>
						<li class="officer-name editable">Hillary Pearson</li>
						<li class="officer-school editable">University of British Columbia</li>
						<li class="officer-name editable">Charlotte Coleman</li>
						<li class="officer-school editable">Queens University</li>
						<li class="url"><a href="mailto:exchange@cfms.org">exchange@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Global Health Education (NOGHE)</li>
						<li class="officer-name editable">Julia Sawatzky</li>
						<li class="officer-school editable">University of Alberta</li>
						<li class="url"><a href="mailto:noghe@cfms.org">noghe@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Reproductive and Sexual Health (NORSH)</li>
						<li class="officer-name editable">Michaela Ryan</li>
						<li class="officer-school editable">Memorial University of Newfoundland</li>
						<li class="url"><a href="mailto:norsh@cfms.org">norsh@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Human Rights and Peace (NORP)</li>
						<li class="officer-name editable">Asha Behdinan</li>
						<li class="officer-school editable">University of Toronto</li>
						<li class="url"><a href="mailto:norp@cfms.org">norp@cfms.org</a></li>
					</div>
					<div class="officer-info">
						<li class="officer-role editable">Indigenous Health (NOIH)</li>
						<li class="officer-name editable">Joshua Nash</li>
						<li class="officer-school editable">University of Calgary</li>
						<li class="url"><a href="mailto:noih@cfms.org">noih@cfms.org</a></li>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
