---
title: Global Health Opportunities & Partnerships
sitemap:
priority: '0.6'
changefreq: monthly
role: VP Global Health
---

<!DOCTYPE html>


<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<head>
    {% include head.html %}

    <!--Page Specific Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
{% include nav.html %}

<!--Page Specific Formatting-->
<script type="text/javascript">
	document.querySelector("#logo-invert").classList.toggle("hidden");
	document.querySelector("#what-we-do").classList.toggle("active");
</script>

<div class="content">
    <!-- Displays the sidebar and emphasizes the active page -->
    {% include sidebar-global-health.html %}
    <script type="text/javascript">
			document.querySelector("#partnerships").classList.toggle("sidebar-active");
    </script>
    <div id="side-content" class="editable">
        <h1 id="page-title">Global Health Opportunities &amp; Partnerships</h1>
        <p>&nbsp;</p>
        <p><strong>World Health Assembly Youth Delegate (Due Date Nov. 23, 2018)&nbsp;</strong></p>
        <p>The Government of Canada is offering the opportunity for a Canadian youth to attend the World Health Assembly (WHA) as part of the Canadian Delegation and to observe the workings of this United Nations Specialized Agency</p>
        <p>More Info and Application <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe2WTjNqWlTtrCgl0sz4OOr9i6ZCJAulp_GAwXgduwQj0tQmQ/viewform">HERE</a></p>
        <p><strong>IFMSA March Meeting Slovenia Delegation (Due Nov. 16, 2018)</strong></p>
        <p>Join the CFMS Delegation to the IFMSA General Assembly in Portorož, Slovenia March 1-7, 2019. This is an opportunity to connect with medical students from around the world and to help advance global health in light of the WHO post-2015 development agenda. Partial funding to support the cost of travel provided.</p>
        <p>More Info and Application <a href="https://docs.google.com/document/d/1nmdEAhcdcZHaXs1yPbY-lokpal2vtWZ43aLfWR680JA/edit">HERE</a></p>
        <p><strong>Canadian Conference on Global Health (Registration now OPEN)</strong></p>
        <p>The 2018 edition of the CCGH will examine the theme of Fragile Environments and Global Health: Examining Drivers of Change .&nbsp; CCGH 2018 &nbsp;welcomes researchers, policymakers, students, practitioners and stakeholders from health, humanitarian and other sectors to share &nbsp;how the global health community can drive change in fragile environments.&nbsp;</p>
        <p>More Info <a target="_blank" href="http://www.csih.org/en/events/canadian-conference-global-health">HERE</a></p>
        <p><strong>Health and Human Rights Conference (Registration now OPEN)</strong></p>
        <p>The 2018 Health and Human Rights Conference will be taking place Nov. 16-18 examining contemporary drug issues pertaining to the Canadian landscape. Topics to be covered include the legalization of cannabis, the opioid crisis, and Canadian pharmacare. Partial travel funding available.&nbsp;</p>
        <p>More Info <a target="_blank" href="https://www.queens-hhrc.com/">HERE</a></p>
        <p><strong>Social Medicine Survey&nbsp;</strong></p>
        <p>Our National Officers of Global Health Education are implementing a survey on Community Service Learning to help better represent strengths of CSL and student concerns at the accreditation, faculty association, and faculty level. Please fill in the survey so your opinions can be heard!</p>
        <p>Survey found <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeiqxvv9kK5yHDxUE5ekesgSv33c1G8EGcp9-UOZd8kLKITFw/viewform">HERE</a></p>
    </div>
</div>
{% include footer.html %}
</body>
