---
title: Day of Action
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
	<link rel="stylesheet" href="/stylesheets/meetings.css" />

</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#lobby-day" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Day of Action on Seniors Care and Aging</h1>
			<p><img alt="" src="/uploads/versions/ndoa.png" /></p>
			<blockquote>
				<p><b>You can read about the 2018 Day of Action on Indigenous Mental Wellness <a href="/what-we-do/advocacy/day-of-action-2018.html">here</a>.&nbsp;</b><b>&nbsp;</b></p>
			</blockquote>
			<blockquote>
				<p><strong>As a part of the #SeniorsCare&amp;Aging conversation: Follow @CFMSFEMC on <a href="https://twitter.com/CFMSFEMC">Twitter</a>, <a href="https://www.facebook.com/CFMSFEMC/">Facebook</a> and <a href="https://www.instagram.com/cfmsfemc/">Instagram</a> to stay up to date!&nbsp; </strong></p>
			</blockquote>
			<p>Each year, medical students from across Canada travel to Ottawa to meet with Parliamentarians and propose a positive health systems change. This event includes extensive advocacy training in advance of the meetings. It is an excellent opportunity for medical students interested in national health advocacy.</p>
			<p>The Day of Action would not be possible without our dedicated team of medical students on the <strong><a href="/what-we-do/advocacy/research-committee.html">Day of Action Research Committee</a></strong> that puts together the ask document, backgrounder document, and coordinates the consultation process.&nbsp;</p>
			<h4><strong>2019 Day of Action: Seniors Care and Aging</strong></h4>
			<p>The Canadian Federation of Medical Students (CFMS) is very excited to announce our topic for the 2019 CFMS Day of Action on Parliament Hill on February 4, 2019: Seniors Care and Ageing.&nbsp;<br /><br />We look forward to advocating for improved care, services, and policy through a holistic approach understanding and acknowledging the various social determinants of health that impact Canadians as they age.</p>
			<p>QUOTATIONS FROM THE CFMS BOARD OF DIRECTORS:</p>
			<p>&ldquo;As medical students progress through their training and education, we are learning and practicing to become compassionate and competent physicians to provide care for our seniors and older adults in various healthcare settings. We wholeheartedly recognize the importance of ensuring that medical education and training reflects the realities and needs of seniors, and that appropriate and sufficient healthcare resources are made available for the benefit of all seniors in Canada.&rdquo; - Yipeng Ge, CFMS Director Government Affairs</p>
			<blockquote>
				<h4><strong>For More Information:</strong></h4>
				<p><strong>Yipeng Ge</strong>, Director of Government Affairs<br />Canadian Federation of Medical Students<br /><a href="mailto:govtaffairs@cfms.org">govtaffairs@cfms.org</a></p>
				<p><b>Victoria Januszkiewicz</b>, Vice President Communications<br />Canadian Federation of Medical Students<br /><a href="mailto:vpcommunications@cfms.org">vpcommunications@cfms.org</a></p>
			</blockquote>
			<!--<p><img alt="" src="/uploads/versions/day-of-action-rectangle-1---x----1921-1081x---.png" /></p>-->
		</div>
	</div>
	{% include footer.html %}
</body>
