---
title: Research Comittee
sitemap:
  priority: 0.6
  changefreq: monthly
  role: VP Government Affairs
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/what-we-do.css" />
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		document.querySelector( "#what-we-do" ).classList.toggle("active");
	</script>

	<div class="content">
		<!-- Displays the sidebar and emphasizes the active page -->
		{% include sidebar-advocacy.html %}
		<script type="text/javascript">
			document.querySelector( "#research-committee" ).classList.toggle("sidebar-active");
		</script>
		<div id="side-content" class="editable">
			<h1 id="page-title">Day of Action Research Committee</h1>
			<h4><strong>2019 Day of Action: Seniors Care and Aging</strong></h4>
			<h4><b>National Officer of Political Action (Day of Action Research Committee Lead)</b></h4>
			<ul>
				<li><a href="mailto:nopa@cfms.org">Linda Lam</a></li>
			</ul>
			<h4><strong>Day of Action Research Committee Members</strong></h4>
			<ul>
				<li>Matthew Yau</li>
				<li>Maham Bushra</li>
				<li>Helen Teklemariam</li>
				<li>Monisha Persaud</li>
				<li>Chantal Phillips</li>
				<li>Hilary Pang&nbsp;</li>
				<li>Alex Kilian&nbsp;</li>
				<li>Mithila Somasundaram&nbsp;</li>
				<li>Feifei Yu&nbsp;</li>
				<li>Jessica Froehlich&nbsp;</li>
				<li>Wendy Wang&nbsp;</li>
				<li>Reem Aziz</li>
				<li>Catherine Caldwell&nbsp;</li>
			</ul>
			<blockquote>
				<h4><strong>For More Information:</strong></h4>
				<p><strong>Linda Lam</strong>, National Officer of Political Action<br />Canadian Federation of Medical Students<br /><a href="mailto:nopa@cfms.org">nopa@cfms.org</a></p>
				<p><strong>Yipeng Ge</strong>, Vice President Government Affairs<br />Canadian Federation of Medical Students<br /><a href="mailto:govtaffairs@cfms.org">govtaffairs@cfms.org</a></p>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
